<!DOCTYPE html>
<link rel="stylesheet" href="/src/public/css/navbar.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,700,0,200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,700,1,200" />
<link href='https://fonts.googleapis.com/css?family=Reem Kufi' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div id="contenedor">
     <nav class="navbar">
    <h1>TTime Pomodoro</h1>
    <div class="botones">
    <a href="/users/signin"><button class="nav-button">LogIn</button>
    <a href="/users/signup"><button class="nav-button">SignIn Up</button></a>
    </div>
  </nav>
  <div id="titulo">
    <h1>La tecnica Pomodoro</h1>
  </div>
  <div id="recuadro">
    <br>
    <div class="row">
      <div class="circle a">
        <img src="/src/public/img/lista-de-verificacion.png">
      </div>
      <div class="circle b">
        <img src="/src/public/img/reloj-de-arena.png">
      </div>
      <div class="circle c">
        <img src="/src/public/img/pausa.png">
      </div>
      <div class="circle d">
        <img src="/src/public/img/repetir.png">
      </div>
      <div class="circle e">
        <img src="/src/public/img/reloj.png">
      </div>
    </div><br><br>
    <div class="row">
     <p>Selecciona una sola tarea para enfocarte</p>
    <p>Configura un temporizador y trabaja continuamente durante 25 minutos.</p>
    <p>Tómese un descanso productivo de 5 minutos</p>
    <p>Repita durante 4 rondas</p>
    <p>Tómese un descanso más largo durante 30</p>
    </div><br>
       <div class="row">
      <div class="cuadro a"></div>
      <div class="cuadro b"></div>
      <div class="cuadro c"></div>
      <div class="cuadro d"></div>
      <div class="cuadro e"></div>
    </div>
    
</div>
</html>
