<!DOCTYPE html>
<html>
<head>
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <div>
        {{#each lista}}
        <h1>Hola {{nombreUsuario}}</h1>
        {{/each}}
    </div>
</body>
</html>
