<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/src/public/css/ingreso.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,700,0,200" />
<link href='https://fonts.googleapis.com/css?family=Reem Kufi' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<!--    CONTENEDOR GENERAL !-->
<div id="contenedor">
    
<!--    FOGURAS DE FONDO     !-->
    <div id="figuras">
            <div id="circulo_izquierda"></div>
            <div id="circulo_inferior"></div>
            <div id="circulo_centro"></div>
            <div id="circulo_derecha"></div>
            <div id="titulo">Create<br>Account</div>
            <div id="icono">
                <img src="/src/public/img/pomodoro (1).png">
            </div>
    </div>
<!--    IMAGEN DE PERFIL     !-->
        <div id="perfil">
            <span class="material-symbols-rounded">person</span><img src="/src/public/img/nube.png">
        </div>
<!--    BOTON Y ENLACE     !-->
        <div id="text1">
            <h1>¡Account Created successfully!</h1>
        </div>
    <div id="boton">
        <button class="boton-celeste"><h1>DONE</h1><span class="material-symbols-rounded">navigate_next</span></button>
        
    </div>
    
    
</div>

</html>