<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/src/public/css/siginup.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,700,0,200" />
<link href='https://fonts.googleapis.com/css?family=Reem Kufi' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<!--    CONTENEDOR GENERAL !-->
<div id="contenedor">
    
<!--    FOGURAS DE FONDO     !-->
    <div id="figuras">
            <div id="circulo_izquierda"></div>
            <div id="circulo_centro"></div>
            <div id="circulo_derecha"></div>
<!--    BOTON ATRAS     !-->
            <div id="botonAtras">
                <button class="boton-celeste"><span class="material-symbols-rounded">chevron_left</span></button>
            </div>
            <div id="titulo">Create<br>Account</div>
            <div id="icono">
                <img src="/src/public/img/pomodoro (1).png">
            </div>
    </div>
<!--    FORMULARIO DE DATOS     !-->
    <div id="formulario">
        <div id="nombre">
            <i class="fa fa-user-o" aria-hidden="true"></i><input type="text" placeholder="User name"> 
        </div>
        <br><br>
        <div id="correo">
            <i class="fa fa-envelope-o" aria-hidden="true"></i><input type="text" placeholder="Email"> 
        </div>
        <br><br>
        <div id="clave">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i><input type="password" placeholder="Password"> 
        </div>
        <br><br>
        <div id="reclave">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i><input type="password" placeholder="Re-Password"> 
        </div>
    </div>
<!--    BOTON Y ENLACE     !-->
    <div id="boton">
        <button class="boton-celeste"><span class="material-symbols-rounded">navigate_next</span></button>
        <div id="enlace"> 
            <a>Already have an account?</a>
        </div>
    </div>
    
    
</div>

</html>