<!-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <div class="container">
    <h1>Soy la barra de navegacion</h1>
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/users/signin">Iniciar Sesion</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/users/signup">Registrarse</a>
        </li>
</body>
</html>-->